<%= render partial: 'layouts/menu', locals: { parent: "#{@company.name.titleize}", child: @team.name } %>
<div class="card mb-3">
    <div class="card-body">
        <%= bootstrap_form_with(model: @team, url: company_team_path(@company, @team), local: true) do |f| %>
            <div class="form-group">
                <%= f.text_field :name, placeholder: "Enter a name here..." %>
                <%= f.select :status, Team.statuses.map{ |status, _| [status.humanize, status] }, label: "Status" %>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <%= f.submit "Save", class: "btn btn-md btn-primary float-left" %>
        <% end %>
                    <%= link_to "Cancel", company_teams_path(@company), class: "btn btn-md btn-secondary float-right" %>
                </div>
            </div>
  </div>
</div>
